body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-wrapper{
    display: flex;
    min-width: 500px;
    max-width: 1920px;
    min-height: 500px;
    max-height: 1200px;
    justify-content: space-around;
    background: rgba(110, 157, 202, 0.527);
    border-radius: 5px;
    flex-wrap: wrap;
}
.form{
    min-width: 300px;
    width:35%;
    border: solid gray 1px;
    border-radius: 5px;
    background: rgba(148, 185, 255, 0.582);
    padding: 3px;
}
.products-container{
    min-width: 400px;
    max-width: 1920px;
    min-height: 500px;
    max-height: 3000px;
    background: rgba(86, 115, 209, 0.582);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:inherit;
}
.product__ul{
    list-style-type: none;

}
.product__ul li span{
    font-weight: 600;
}
.create-form__descr-wrapper{
    margin: 10px;
    width: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.create-form__descr{
    resize: none;
    height: 70px;
    width: 100%;
}
.product-display__product{
    width: 250px;
    height: 280px;
    background:rgba(86, 160, 209, 0.582);
    margin-top: 10px;
}
.product__img-wrapper{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
}
.img-wrapper__img{
    width: 50%;
    height: 100%;
    background-image: url(https://opencartforum.com/storage/attachment/monthly_2020_06/no-img.png.056bf2e130881dec0f753ea5d0228c26.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.img-wrapper__edit-block{
    width: 35%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.edit-block__last-one{
    width:80%;
    height: 45%;
    background: red;
    text-align: center;
}
.product_descr-visibility{
    visibility: hidden;
}
.product_descr{
    resize: none;
    width:90%;
    background: rgba(86, 160, 209, 0.582);
    height: 51px
}
.edit-popup__container{
    width: 100vw;
    height:100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
    background: rgba(52, 75, 78, 0.418);
    display: flex;
    align-items:center;
    justify-content: center;
}
.edit-popup{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    align-items: flex-end;
    justify-content:space-around;
    position: fixed;
    top: 200px;
    left: 40%;
    border: double 2px gray;
    background-color: khaki;
}
.popup__label{
    width: 100%;
    display: flex;
    text-align: start;
    justify-content: space-around;
}
.label__text-container{
    width: 40%;
}
.popup__btn-wrapper{
    width:100%;
    display: flex;
    justify-content: space-around;
}
.err{
    height: 15px;
    color: red;
    font-weight: 100;
    font-size: 11px;
    min-width:200px;
    max-width: 500px;
    
}
.product_cheap{
    border: solid gray 4px;
}
.product_optimal{
    border: solid green 4px;
}
.product_premium{
    border: solid gold 4px;
}


  @media (max-width: 650px) {
    .form-wrapper{
        flex-wrap: wrap;
        justify-content: left;
    }
  }

  @media (max-width: 400px) {
    .products-container{
        justify-content: left;
    }
    .product-display__product{
        margin: 10px;
    }
  }